body {
  font-family: "Plus Jakarta Sana", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: rgb(249, 248, 248);
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  /* width: 100% !important; */
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}


.listing-link {
  padding: 0;
  text-decoration: none;
}

/* card effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.edit-btn {
  background-color: #3eb327 !important;
  border: none !important;
}

.show-img {
  height: 45vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 400px;
  width: 80vh;
}
/* @media only screen and (max-width:455px) {
  .navbar{
    background-color: red;
  }
} */